
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.counter{
    display: flex;
    gap: 10px;
    flex-direction: row;
    
}

button{
    cursor : pointer;
}