

form{
    display:flex;
    flex-direction: column;
    justify-content: left;
    align-items: start;
    gap: 20px;
    width: 300px;
    height: 300px;
    padding: 10px;
    /* border: 1px solid black; */
}